<!DOCTYPE html>
<html lang="es" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body style="height: 100%; margin: 0;">
    <header><h1 style="margin: 0;">Grupo 7</h1></header>
    <nav>
      <ul>
        <li><a href="lucho.html">Luciano Gomez</a></li>
        <li><a href="nahuel.html">Nahuel Gomez</a></li>
        <li><a href="uri.html">Damon Uriel Ruscio</a></li>
        <li><a href="emma.html">Emmanuel Muñoz</a></li>
      </ul>
    </nav>
    <main>
        <section class="alumnosSection">
          <aside>
            <h2 style="padding-left: 25px; text-decoration: underline;">Enlases:</h2>
            <ul style="padding-left: 25px;">
              <li style="margin-bottom: 10px;"><b>GITHUB:</b><a href="https://github.com/Lean911" target="_blank">https://github.com/Lean911</a></li>
            </ul>
          </aside>
          <div class="content" style="width: 100%; overflow-x: scroll;">
            <img class="fotoSection" id="fotoLeandro" src="/imgs/fotoLeandro.png">
              <article class="cartaAlumnos">
                <ul>
                  <li><b>Estudio:</b>Análisis de sistemas</li>
                  <li><b>Trabajo:</b> Analista de datos</li>
                  <li><b>En mi tiempo libre...</b>Juego al Conunter, Programo, Ando en bicicleta y salgo con amigos.</li>
                </ul>
              </article>
          </div>
        </section>
    </main>
    <footer></footer>
</body>
</html>