<!DOCTYPE html>
<html lang="es" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body style="height: 100%; margin: 0;">
    <header><h1 style="margin: 0;">Grupo 7</h1></header>
    <nav>
      <ul>
        <li><a href="lean.html">Leandro Fernandez</a></li>
        <li><a href="nahuel.html">Nahuel Gomez</a></li>
        <li><a href="uri.html">Damon Uriel Ruscio</a></li>
        <li><a href="emma.html">Emmanuel Muñoz</a></li>
      </ul>
    </nav>
    <main>
        <section class="alumnosSection">
          <aside>
            <h2 style="padding-left: 25px; text-decoration: underline;">Enlases:</h2>
            <ul style="padding-left: 25px;">
              <li style="margin-bottom: 10px;"><b>GITHUB:</b><a href="https://github.com/luchogomez01" target="_blank">https://github.com/luchogomez01</a></li>
              <li><b>Linkedin:</b><a href="https://www.linkedin.com/in/luciano-gomez-525b54194/" target="_blank">Luciano Javier Gomez</a></li>
            </ul>
          </aside>
          <div class="content" style="width: 100%; overflow-x: scroll;">
            <img class="fotoSection" id="fotoLucho" src="/imgs/fotoLucho.jpg">
              <article class="cartaAlumnos">
                <ul>
                  <li><b>Edad:</b>22 años</li>
                  <li><b>Equipo:</b>Boca Jrs</li>
                  <li><b>Trabajo:</b> Analista programador</li>
                  <li><b>Me gusta... </b>Ir al gym, salir con amigos, jugar a la pelota</li>
                </ul>
              </article>
          </div>
        </section>
    </main>
    <footer></footer>
</body>
</html>