<!DOCTYPE html>
<html lang="es" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
</head>
<body style="height: 100%">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="/index.html">Proyecto</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Alumnos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="lean.html">Leandro Fernandez</a></li>
                      <li><a class="dropdown-item" href="nahuel.html">Nahuel Gomez</a></li>
                      <li><a class="dropdown-item" href="uri.html">Damon Uriel Ruscio</a></li>
                      <li><a class="dropdown-item" href="ema.html">Ema</a></li>
                    </ul>
                  </li>
                </ul>
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
    </header>
    <main style="background-color: #f1f1dfd6;">
      <div class="content contentNahuel">
        <div class="card" id="cardNahuel" style="width: 18rem;">
          <img src="\imgs\fotoNahuel.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Nahuel Gomez</h5>
            <p class="card-text">Mi nombre es Nahuel, vivo en Paternal, estudio en el IFTS nr16</p>
            <a href="https://github.com/Nhanslow" target="_blank" class="btn btn-primary">Mi gitHub</a>
          </div>
        </div>
        <div class="accordion" id="accoNahuel" style="width: 100%;">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Estudios
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accoLucho">
              <div class="accordion-body">
                <ul>
                  <li>
                    <strong>Secundario completo</strong> Escuela Superior de Comercio Hipolito Vieytes
                  </li>
                  <li>
                    <strong>instituto de Formación Técnico Superior (I.F.T.S. 16):</strong> tecnicatura en análisis de sistemas.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Mis Pasatiempos
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accoLucho">
              <div class="accordion-body">
                <ul>
                  <li>Jugar videojuegos</li>
                  <li>Salir con amigos</li>
                  <li>Leer comics</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>

    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>